.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.footer p {
    text-align: center;
    color: rgb(196, 184, 184);
}
.footer span {
    color: red;
}
@media (max-width : 500px) {
    .footer {
        font-size: 0.7rem;
    }
}